<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Pointr API Test Suite" verbose="2">

    <listeners>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter"/>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <listener class-name="org.testng.reporters.FailedReporter"/>
    </listeners>

    <test name="Site API Tests">
        <classes>
            <class name="com.pointr.tests.SiteApiTest"/>
        </classes>
    </test>

    <test name="Building API Tests">
        <classes>
            <class name="com.pointr.tests.BuildingApiTest"/>
        </classes>
    </test>

    <test name="Level API Tests">
        <classes>
            <class name="com.pointr.tests.LevelApiTest"/>
        </classes>
    </test>

</suite>